<div class="add-new-user">
  <div class="container">
    <form [formGroup]="addNewUserForm" (ngSubmit)="onSubmit()">

      <div class="save-user">
        <h2>Add new user</h2>
        <div class="buttons">
            <button class="cancel-btn" type="button">Cancel</button>
            <button class='save-btn' type="submit">Save User</button>
        </div>
      </div>

      <app-personal-information [personalInfo]="addNewUserForm"></app-personal-information>
      <app-assign-role [assignRole]='addNewUserForm'></app-assign-role>
      <app-custom-permissions></app-custom-permissions>
    </form>
  </div>
</div>
